/* ------------------------------ */
/* ------------- #VARIABLES */
/* ------------------------------ */
/* -------------------- */
/* --- #COLORS */
/* -------------------- */
/* -------------------- */
/* --- #MEDIA QUERY BREAKPOINTS */
/* -------------------- */
/* ------------------------------ */
/* ------------- #BASE */
/* ------------------------------ */
html {
  font-family: 'Lato', sans-serif;
  color: #323232; }
  @media screen and (min-width: 1px) {
    html {
      font-size: 16px; } }
  @media screen and (min-width: 992px) {
    html {
      font-size: 18px; } }

body {
  background: #fafaf9;
  font-size: 1em; }

h1, h2, h2, a, p, span, input {
  font-family: 'Lato', sans-serif;
  color: inherit; }

h1 {
  font-size: 3rem;
  font-weight: 900; }

h2 {
  font-size: 1.5rem;
  font-weight: 300; }

p {
  font-size: 1rem; }

a,
.fake-link {
  color: inherit;
  position: relative; }

a:after,
a:before,
.fake-link:after,
.fake-link:before {
  content: '';
  height: .2em;
  width: 0;
  bottom: -.15em;
  position: absolute;
  transition: .2s ease all; }

a:hover,
a:focus,
.fake-link:hover {
  color: #323232;
  text-decoration: none;
  cursor: pointer; }

input::-webkit-input-placeholder {
  color: #e6a22d; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #e6a22d; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #e6a22d; }

input:-ms-input-placeholder {
  color: #e6a22d; }

/* ------------------------------ */
/* ------------- #COMPONENTS */
/* ------------------------------ */
/* -------------------- */
/* --- #BOOTSTRAP ADDITIONS */
/* -------------------- */
/* -------------------- */
/* --- #BUTTON */
/* -------------------- */
.button {
  background-color: transparent;
  color: #323232;
  letter-spacing: 1px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  min-width: 4em;
  text-align: center;
  display: inline;
  border-color: #323232;
  border-style: solid;
  border-width: .2em;
  transition: .2s color ease, .2s background-color ease;
  position: relative;
  cursor: pointer;
  z-index: 1; }

.button:hover,
.button:focus {
  color: #fafaf9;
  text-decoration: none; }
  @media screen and (min-width: 1px) {
    .button:hover,
    .button:focus {
      background-color: #323232; } }
  @media screen and (min-width: 992px) {
    .button:hover,
    .button:focus {
      background-color: transparent; } }

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.2s;
  width: 101%;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: #323232;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%); }

/* -------------------- */
/* --- #CONTENT CONTAINER */
/* -------------------- */
.content-container {
  padding: 1em 2em; }

/* -------------------- */
/* --- #LOGO */
/* -------------------- */
/* ------------------------------ */
/* ------------- #PAGES */
/* ------------------------------ */
/* -------------------- */
/* --- #INTRO */
/* -------------------- */
.intro {
  position: relative;
  background-image: linear-gradient(to right, #830202, #e73023);
  background-color: #e73023;
  color: #fafaf9; }

.intro_image {
  position: absolute;
  width: 40vw;
  height: auto;
  right: 0;
  top: 0; }

/* ------------------------------ */
/* ------------- #HELPERS */
/* ------------------------------ */
.capitalize {
  text-transform: capitalize !important; }

.float-right {
  float: right; }

.no-padding {
  padding: 0 !important; }

.page-spacer {
  margin-top: 2em; }

.text-center {
  text-align: center; }
