<template name="admin">
    <h1>Admin</h1>

    <h2>Stream</h2>

    <div class="row">
        <h3>Toggle Live</h3>

        <div class="button col-xs-3" data-hook="toggle-stream">
            {{#if stream.live}}
                Online <i class="fa fa-toggle-on"></i>
            {{else}}
                Offline <i class="fa fa-toggle-off"></i>
            {{/if}}
        </div>

    </div>
    <div class="row">
        <h3>Episode Info</h3>

        <div class="col-xs-6">
            <ul>
                <li>Number: {{stream.epNumber}}</li>
                <li>Cast: {{stream.epCast}}</li>
                <li>Time: {{duration}}</li>
                <li>
                    Content:
                    <ul>
                        {{#each content}}
                            <li>{{type}} - {{time.hour}}:{{time.minute}}:{{time.second}}</li>
                        {{/each}}
                    </ul>
                </li>
            </ul>

            <button data-hook="save-ep"><i class="fa fa-save"></i> Save Episode</button>
        </div>
        <form class="col-xs-6" data-hook="ep-form">
            <label for="number">Episode Number</label>
            <input id="number" name="ep" type="text" placeholder="##">
            <button type="submit">Update Episode</button>
        </form>
    </div>
    <div class="row">
        <h3>Live Characters</h3>

        <div class="col-xs-12">
            <div class="row">
                {{#each characters}}
                    <div class="button button--toggle col-xs-6 col-md-3" data-hook="live-toggle" data-name="{{name}}"
                         data-live="{{live}}">
                        {{name}} {{#if live}}<i class="fa fa-check" data-name="{{name}}"></i>{{/if}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <form class="row" data-hook="form-content">
        <h3>Live Content</h3>

        <div class="col-xs-12">
            <div class="row">
                <label for="text-content">Text Content</label>
                <textarea id="text-content" placeholder="Text to display..." data-hook="text-content"></textarea>
            </div>
            <div class="row">
                <label for="otherContent">Other Content</label>
                <select id="otherContent" class="col-xs-12 col-md-3" data-hook="live-content-type">
                    <option value="text">Text</option>
                    <option value="link">Link</option>
                    <option value="image">Image</option>
                    <option value="tweet">Tweet</option>
                    <option value="yt">YouTube video</option>
                    <option value="poll">Poll</option>
                    <option value="quiz">Quiz</option>
                </select>

                <div class="col-xs-12 col-md-7 col-offset-1">
                    {{#if contentType 'image'}}
                        <div class="row">
                            <div class="{{errorClass 'image'}}">
                                <input type="url" placeholder="Image URL" data-hook="live-text">
                                <input class="input-group__file-input" name="live-image" placeholder="Image" type="file"
                                       id="image"
                                       required/>
                                <label class="input-group__file-label button col-xs-12" for="image">
                                    {{#unless imageName}}
                                        <span>Choose Image</span>
                                    {{else}}
                                        <span>{{imageName}}</span>
                                    {{/unless}}
                                </label>
                                <span class="help-block">{{errorMessage 'image'}}</span>
                            </div>
                            <img class="col-xs-12" src="{{imageURL}}"/>
                            <label for="live-content">Image Link</label>
                            <input id="live-content" type="url" value="" data-hook="live-link">
                        </div>
                    {{/if}}
                    {{#if contentType 'link'}}
                        <label for="live-content">Link Text</label>
                        <input id="live-content" type="text" data-hook="live-text">
                        <label for="live-link">Link Url</label>
                        <input id="live-link" type="url" data-hook="live-link">
                    {{/if}}
                    {{#if contentType 'tweet'}}
                        <label for="live-content">Tweet Embed Code</label>
                        <textarea id="live-content" data-hook="live-content"></textarea>
                    {{/if}}
                    {{#if contentType 'yt'}}
                        <label for="live-content">YouTube Video URL</label>
                        <input id="live-content" type="url" data-hook="live-content">
                    {{/if}}
                    {{#if contentType 'poll'}}
                        <label for="live-text">Poll Question</label>
                        <input id="live-text" type="url" data-hook="live-text">
                        {{#each loopCount choiceCount}}
                            <label for="live-choice">Poll Choice #{{@index}}</label>
                            <input id="live-choice" type="url" data-hook="live-choice">
                        {{/each}}
                        <button data-hook="add-poll-choice"><i class="fa fa-plus"></i> Add Choice</button>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="button button--submit col-xs-3" data-hook="submit-content">Insert Content</div>
                <div class="button button--submit col-xs-3 col-xs-offset-1"
                     data-hook="clear-content">Clear Content</div>
            </div>
        </div>
    </form>

    <form class="row" data-hook="form-stream">
        <h3>Stream Stats</h3>

        <div class="col-xs-12">
            <div class="row">
                <div class="{{errorClass 'subCount'}} col-xs-12">
                    <label for="sub-count">Sub Count</label>

                    <div class="row">
                        <input id="sub-count" name="sub-count" value="{{stream.giveaway.subCount}}" type="number">
                        <button type="submit" data-hook="inc-count"><i class="fa fa-plus"> 1</i></button>
                        <button type="submit" data-hook="dec-count"><i class="fa fa-minus"> 1</i></button>
                    </div>
                    <span class="help-block">{{errorMessage 'subCount'}}</span>
                </div>

                <div class="{{errorClass 'subGoal'}} col-xs-12">
                    <label for="sub-count">Sub Goal</label>

                    <div class="row">
                        <input id="sub-count" name="sub-goal" value="{{stream.giveaway.subGoal}}" type="number">

                        <button type="submit" data-hook="inc-goal"><i class="fa fa-plus"> 100</i></button>
                    </div>
                    <span class="help-block">{{errorMessage 'subGoal'}}</span>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <label for="sub-count">Giveaway Winner</label>
                        <input id="sub-count" name="sub-winner" value="{{stream.giveaway.subWinner}}" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" data-hook="submit-stream">Update Stats</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-12">
            <h3>Character Info</h3>
            {{#each characters}}
                <div class="row">
                    <h4>{{name}}</h4>

                    <form class="col-xs-6" data-id="{{_id}}" data-hook="char-stats-form">
                        {{#each arrayify charStats}}
                            <div class="char__stat col-xs-6">
                                <span class="char__stat-key">{{key}}:</span>
                                <input type="number" name="{{key}}" value="{{value}}">
                            </div>
                        {{/each}}
                        <button class="col-xs-12" type="submit">Update {{name}} Stats</button>
                    </form>
                    <form class="col-xs-6" data-id="{{_id}}" data-hook="char-vitals-form">
                        <div class="char__stat col-xs-6">
                            <span class="char__stat-key">{{name}} HP</span>
                            <input type="number" name="hp" min="0" max="{{charStats.maxHp}}" value="{{vitals.hp}}">
                        </div>
                        <div class="char__stat col-xs-6">
                            <span class="char__stat-key">{{name}} AC</span>
                            <input type="number" name="ac" value="{{vitals.ac}}">
                        </div>
                        <div class="char__stat col-xs-6">
                            <span class="char__stat-key">{{name}} Death Strikes</span>
                            <input type="number" name="strikes" min="0" max="3" value="{{vitals.strikes}}">
                        </div>
                        <button class="col-xs-12" type="submit">Update {{name}} Vitals</button>
                    </form>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="admin__users">
        <h1>Users</h1>

        <h2>Add Role</h2>
        {{#each users}}
            <div class="row">
                <div class="admin__user col-xs-4">
                    <ul>
                        <li>Email: {{emails.[0].address}}</li>
                        <li>Roles: {{roles}}</li>
                    </ul>
                </div>
                <form class="col-xs-4">
                    <label for="role">Add Role</label>
                    <input id="role" name="role" type="text">
                    <input type="submit" data-hook="add-role" data-uid="{{_id}}" value="Add">
                </form>
                <div class="col-xs-4">
                    <label>Delete User</label>
                    <button type="submit" data-hook="delete-user" data-uid="{{_id}}"><i class="fa fa-remove"
                                                                                        data-uid="{{_id}}"></i></button>
                </div>
            </div>
        {{/each}}
        <h2>Create Beta User</h2>

        <form data-hook="beta-form">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="Email">
            <input type="submit" value="Create">
        </form>
    </div>

</template>