<template name="track">

    <div class="youtube-container {{videoClass}}">
        <div id="js-yt" class="youtube-player" data-hook="youtube-player"></div>
    </div>

    {{#if tracking}}
        {{#unless watchHere}}
            <div class="row">
                {{> timer}}
            </div>
        {{/unless}}
    {{/if}}

    {{#if modal}}
        <div class="track__modal">
            {{#if choosingAction}}
                <div class="row">
                    <div class="button button--vert col-xs-12 col-md-3" data-hook="action"
                         data-action="Check">Check</div>
                    {{#if actionIs 'check'}}
                        <div class="modal__sub-menu">
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Acrobatics">Acrobatics</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Deception">Deception</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Dexterity">Dexterity</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Diplomacy">Diplomacy</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Intimidation">Intimidation</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Medicine">Medicine</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Perception">Perception</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Slight of Hand">Slight of Hand</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Survival">Survival</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Wisdom">Wisdom</div>
                        </div>
                    {{/if}}
                    <div class="button button--vert col-xs-12 col-md-3" data-hook="action" data-action="Save">Save</div>
                    {{#if actionIs 'save'}}
                        <div class="modal__sub-menu">
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Acrobatics">Acrobatics</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Diplomacy">Constitution</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Dexterity">Dexterity</div>
                            <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                 data-type="Wisdom">Wisdom</div>
                        </div>
                    {{/if}}
                    <div class="button button--vert col-xs-12 col-md-3" data-hook="action"
                         data-action="Attack">Attack</div>
                    {{#if actionIs 'attack'}}
                        <div class="modal__sub-menu">
                            {{#each charAttacks}}
                                <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                     data-type="{{name}}">{{name}}</div>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if charSpells}}
                        <div class="button button--vert col-xs-12 col-md-3" data-hook="action"
                             data-action="Cast">Cast</div>
                        <div class="modal__sub-menu">
                            {{#if actionIs 'cast'}}
                                <div class="button button--vert col-xs-12 col-md-3" data-hook="type"
                                     data-type="{{name}}">{{name}}</div>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            {{else}}
                <h1>{{charName}} {{type}} {{action}}</h1>

                <div class="track__check">
                    <label for="roll">Roll: </label>
                    <input id="roll" name="roll" type="number" min="1" max="{{maxRoll}}" value="1">
                    <label for="success">
                        {{#if actionIs 'attack'}}
                            Hit?
                        {{else}}
                            {{#if actionIs 'cast'}}
                                Intended effect?
                            {{else}}
                                Success?
                            {{/if}}
                        {{/if}}
                    </label>
                    <input type="checkbox" id="success" name="success">
                    {{#if actionIs 'attack'}}
                        <label for="lethal">Lethal</label>
                        <input type="checkbox" id="lethal" name="lethal">
                    {{/if}}
                    <a class="button" data-hook="add-roll"><i class="fa fa-plus"></i></a>
                    <a class="button" data-hook="submit-roll">Submit</a>
                </div>
            {{/if}}
        </div>
    {{/if}}

    {{#unless tracking}}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="row cards">
                    {{#each episodes}}
                        {{> episodeItem}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{else}}
        {{#unless modal}}
            <div class="track__chars">
                {{#each activeChars}}
                    <div class="track__char" data-hook="track" data-name="{{name}}">
                        <img src="{{imageURL}}" data-name="{{name}}">
                    </div>
                {{/each}}
                <div class="track__char" data-hook="track" data-name="DM">
                    <img src="/images/dm.jpg" data-name="DM">
                </div>
            </div>
            <div class="menu row">
                <a class="button menu__button col-xs-12 {{watchActive}}" data-hook="watch-button"><i
                        class="fa fa-play"></i>

                    <div class="hidden-xs hidden-sm">Watch</div>
                </a>
            </div>
        {{/unless}}
    {{/unless}}
</template>