<template name="intro">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="home__intro-section row">
            <h1 class="text-center">Watch with Critters</h1>

            <p class="text-center">Now, every show is like a live show. Watch episodes in sync with interactive content whenever you
                want.</p>
        </div>
        <div class="home__intro-section row">
            <h1 class="text-center">Interact with Critters</h1>

            <p class="text-center">Answer polls and quizzes, give your opinions, rate and review episodes, and compete with other Critters to earn achievements and win a spot on the Experience Points leaderboard.</p>
        </div>
    </div>
</template>