/* ------------------------------ */
/* ------------- #ANIMATIONS */
/* ------------------------------ */
.input-reveal {
  @include transform(translateY(-7em));
  @include transition(all .2s, opacity 0s .3s);
  z-index: -1;
}
.input-reveal.is-active {
  @include transform(none);
  @include transition(all .2s, opacity 0s 0s);
}
.form-reveal {
  @include transform(translateY(-4.5em));
  @include transition(.2s);
  z-index: 0;
}
.form-reveal.is-active {
  @include transform(none);
  z-index: 2;
}


.out-left {
  @include transform(none);
  @include transition(.2s);
}
.out-left.is-active {
  @include transform(translateX(-200vw));
}
.in-right {
  @include transform(translateX(200vw));
  @include transition(.2s);
}
.in-right.is-active {
  @include transform(none);
}

.lift {
  position: relative;
  box-shadow: none;
  @include transform(none);
  @include transition(.2s $easeInOutCubic);
  z-index: 1;
}
.lift.is-active {
  box-shadow: $shadow-h;
  @include transform(scale(1.1));
  z-index: 2;
}

.flip {
  opacity: 1;
  z-index: 2;
  @include transition(.15s linear);
}
.flip.is-active {
  opacity: 0;
  z-index: 1;
}
.flop {
  @include transform(rotateY(180deg));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $color-2;
  opacity: 0;
  padding: 2em;
  z-index: 1;

  // Allow click-through when flipped over
  pointer-events: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
  background: none !important;
  @include transition(.15s linear);
}
.button .flop {
  padding: 1em;
}
.flop.is-active {
  opacity: 1;
  z-index: 2;
  pointer-events: auto;
  filter: none;
  background: inherit;
}
.flip-full {
  @include transform(perspective(1000px) rotateY(0deg));
  @include transition(.3s linear);
}
.flip-full.is-active {
  @include transform(rotateY(180deg));
}