/* ------------------------------ */
/* ------------- #ANIMATIONS */
/* ------------------------------ */
.input-reveal {
  @include transform(perspective(500px) rotateX(-90deg));
  @include transform-origin(50% -2em);
  @include transition(all .2s, opacity 0s .3s);
  opacity: 0;
}
.input-reveal.is-active {
  @include transform(none);
  @include transition(all .2s, opacity 0s 0s);
  opacity: 1;
}
.form-reveal {
  @include transform(translateY(-4.5em));
  @include transition(.2s);
}
.form-reveal.is-active {
  @include transform(none);
}


.out-left {
  @include transform(none);
  @include transition(.2s);
}
.out-left.is-active {
  @include transform(translateX(-200vw));
}
.in-right {
  @include transform(translateX(200vw));
  @include transition(.2s);
}
.in-right.is-active {
  @include transform(none);
}

.lift {
  box-shadow: none;
  @include transform(none);
  @include transition(.2s $easeInOutCubic);
}
.lift.is-active {
  box-shadow: $shadow-h;
  @include transform(scale(1.1));
}

.flip {
  @include transform(perspective(1000px) rotateY(0deg));
  @include transition(.3s $easeInOutCubic);
}
.flip.is-active {
  @include transform(rotateY(90deg));
}
.is-flipped {
  @include transform(perspective(1000px) rotateY(-90deg));
  @include transition(.3s $easeOutCubic);
}
.flop {
  @include transform(perspective(1000px) rotateY(-90deg));
  @include transition(.3s $easeInOutCubic);
}
.flop.is-active {
  @include transform(rotateY(0deg));
}