/* -------------------- */
/* --- #COLORS */
/* -------------------- */
$color-1: rgb(50, 50, 50);
// dark gray
$color-2: hsl(38, 79, 98);
// goldish white
$color-2-t: hsla(38, 79, 98, .9);
// translucent greenish white
$color-3: hsl(4, 80, 52);
// red
$color-4: hsl(38, 79, 54);
// gold
$color-5: hsl(0, 0, 95);
// light gray