$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

/* ------------------------------ */
/* ------------- #KEYFRAMES */
/* ------------------------------ */
@include keyframes(bounce-in) {
  0% {
    @include transform(translateX(-100vw) translateY(-100vh) rotateZ(-180deg));
  }
  20% {
    @include transform(translateX(-3em) translateY(0) rotateZ(-40deg));
  }
  40% {
    @include transform(translateX(-1em) translateY(-.5em) rotateZ(-30deg));
  }
  60% {
    @include transform(translateX(-.5em) translateY(0) rotateZ(-8deg));
  }
  80% {
    @include transform(translateX(-.2em) translateY(-.2em) rotateZ(-3deg));
  }
  100% {
    @include transform(translateX(0) translateY(0) rotateZ(10deg));
  }
}
.bounce-in {
  @include animation(0, .5s, bounce-in, $easeOutCubic);
}


@include keyframes(rotate-in) {
  0% {
    @include transform(perspective(500px) rotateY(270deg));
  }
  100% {
    @include transform(perspective(500px) rotateY(360deg));
  }
}
.rotate-in {
  @include animation(0, .3s, rotate-in, $easeOutCubic);
}

@include keyframes(rotate-out) {
  0% {
    @include transform(perspective(500px) rotateY(0deg));
  }
  100% {
    @include transform(perspective(500px) rotateY(90deg));
  }
}
.rotate-out {
  @include animation(0, .3s, rotate-out, $easeInCubic);
}

.is-rotated {
  @include transition(transform 0s .4s);
  @include transform(rotateY(270deg));
}


@include keyframes(hover-float) {
  0% {
    @include transform(rotateZ(10deg));
  }
  50% {
    @include transform(rotateZ(-10deg));
  }
  100% {
    @include transform(rotateZ(10deg));
  }
}
.hover-float {
  @include animation(0, .5s, hover-float, $easeInOutCubic);
}
