/* ------------------------------ */
/* ------------- #MIXINS */
/* ------------------------------ */
@mixin animation ($delay, $duration, $animation, $easing, $iterations:'1') {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-timing-function: $easing;
  -webkit-animation-iteration-count: $iterations;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-timing-function: $easing;
  -moz-animation-iteration-count: $iterations;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-timing-function: $easing;
  -o-animation-iteration-count: $iterations;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-timing-function: $easing;
  animation-iteration-count: $iterations;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin transform($transforms) {
  -moz-transform:    $transforms;
  -o-transform:      $transforms;
  -ms-transform:     $transforms;
  -webkit-transform: $transforms;
  transform:         $transforms;
}
@mixin transform-origin($origin) {
  -moz-transform-origin:    $origin;
  -o-transform-origin:      $origin;
  -ms-transform-origin:     $origin;
  -webkit-transform-origin: $origin;
  transform-origin:         $origin;
}
@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}