/* -------------------- */
/* --- #MEDIA QUERY BREAKPOINTS */
/* -------------------- */
$break-small: 'screen and (min-width: 1px)';
$break-medium: 'screen and (min-width: 992px)';
$break-large: 'screen and (min-width: 1920px)';