/* ------------------------------ */
/* ------------- #VARIABLES */
/* ------------------------------ */

/* -------------------- */
/* --- #COLORS */
/* -------------------- */
$color-1: rgb(50,50,50); // dark gray
$color-2: hsl(38,79,98); // goldish white
$color-2-t: hsla(38,79,98,.9); // translucent greenish white
$color-3: hsl(4,80,52); // red
$color-4: hsl(38,79,54); // gold
$color-5: rgb(235,240,235); // ?

/* -------------------- */
/* --- #MEDIA QUERY BREAKPOINTS */
/* -------------------- */
$break-small: screen and (min-width: 1px);
$break-medium: screen and (min-width: 992px);
$break-large: screen and (min-width: 1920px);



/* ------------------------------ */
/* ------------- #BASE */
/* ------------------------------ */

html {
  font-family: 'Lato', sans-serif;
  color: $color-1;
  @media #{$break-small} {
    font-size: 16px;
  }
  @media #{$break-medium} {
    font-size: 18px;
  }
}

body {
  background: $color-2;
  font-size: 1em;
}

h1, h2, h2, a, p, span, input {
  font-family: 'Lato', sans-serif;
  color: inherit;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
}

// Links
a,
.fake-link {
  color: inherit;
  //border-bottom: .2em solid $color-1;
  //padding-bottom: .1em;
  position: relative;
}
a:after,
a:before,
.fake-link:after,
.fake-link:before {
  content: '';
  height: .2em;
  width: 0;
  bottom: -.15em;
  position: absolute;
  //background: $color-3;
  transition: .2s ease all;
}
a:before,
.fake-link:before {
  //left: 50%;
}
a:after,
.fake-link:after {
  //right: 50%;
}
a:hover:not(.button):before,
a:hover:not(.button):after,
.fake-link:not(.button):hover:before,
.fake-link:not(.button):hover:after {
  //width: 50%;
}
a:hover,
a:focus,
.fake-link:hover {
  color: $color-1;
  text-decoration: none;
  cursor: pointer;
}
// For links that should have no hover affect
.no-hover {
  border-bottom: none;
}
.no-hover:after,
.no-hover:before {
  display: none;
}

.main {
  position: relative;
  //margin-top: 4em;
}
.main.is-unauthed {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  background-color: $color-3;

  @media #{$break-small} {
    padding-top: 40vh;
  }
  @media #{$break-medium} {
    padding-top: 60vh;
  }
}

.page {
  display: block;
  //padding-top: 3em;
}

// Input placeholder text color
input::-webkit-input-placeholder {
  color: $color-4;
}
input:-moz-placeholder { /* Firefox 18- */
  color: $color-4;
}
input::-moz-placeholder {  /* Firefox 19+ */
  color: $color-4;
}
input:-ms-input-placeholder {
  color: $color-4;
}

textarea {
  padding: 1em;
  width: 100%;
  color: $color-3;
}

hr {
  border-top-color: $color-1;
}


/* ------------------------------ */
/* ------------- #COMPONENTS */
/* ------------------------------ */

/* -------------------- */
/* --- #ANIMATIONS */
/* -------------------- */
@keyframes shadow-hover {
  0% {
    box-shadow: 0 3px 5px 0 rgb(125,125,125);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.5);
    background-color: rgb(100,200,100);
  }
  50% {
    box-shadow: 0 5px 7px 0 rgb(125,125,125);
    box-shadow: 0 5px 7px 0 rgba(0,0,0,.5);
    background-color: rgb(130,230,130);
  }
  100% {
    box-shadow: 0 3px 5px 0 rgb(125,125,125);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.5);
    background-color: rgb(100,200,100);
  }
}

@keyframes button-click {
  0% {
    width: inherit;
    height: inherit;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}


/* -------------------- */
/* --- #BACK BUTTON */
/* -------------------- */
.back-button {
  color: $color-1;
  position: absolute;
  left: 1em;
  font-size: 2em;
  top: 2em;
}


/* -------------------- */
/* --- #BOOTSTRAP ADDITIONS */
/* -------------------- */
.row {
  //position: relative;
}
.row + .row {
  margin-top: 2em;
}
.row + .row:last-of-type {
  margin-bottom: 5em;
}
.row:first-of-type:last-of-type {
  margin-bottom: 0;
}


/* -------------------- */
/* --- #BUTTON */
/* -------------------- */
.button {
  background-color: transparent;
  color: $color-1;
  letter-spacing: 1px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  min-width: 4em;
  text-align: center;
  display: inline;
  border-color: $color-1;
  border-style: solid;
  border-width: .2em;
  transition: .2s color ease, .2s background-color ease;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.is-unauthed .button {
  color: $color-2;
  border-color: $color-2;
}
.button:hover,
.button:focus {
  color: $color-2;
  text-decoration: none;

  @media #{$break-small} {
    background-color: $color-1;
  }
  @media #{$break-medium} {
    background-color: transparent;
  }
}
.is-unauthed .button:hover,
.is-unauthed .button:focus {
  color: $color-3;
}
.button:active {
  text-decoration: none;
  color: $color-2;
  background-color: $color-1;
}

/* disabled button */
.button.is-disabled {
  cursor: default;
  background-color: rgb(150, 150, 150);
  color: rgb(100, 100, 100);
}
.button.disabled:hover, .button.disabled:focus {
  border-bottom-width: 5px;
  top: 0;
}
.button.disabled:active {
  border-bottom-width: 5px;
  top: 0
}

.button--addon {
  display: block;
  padding: 0;
}
.button--addon > * {
  padding-top: 1em;
  padding-bottom: 1em;
}
.button--addon:hover .button--addon__addon {
  color: $color-3;
}
.button--addon .button--addon__addon {
  color: $color-3;
}

.button--block {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.button--select {
  -webkit-appearance: inherit;
}
.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.2s;
  // 101% to fix bug where button would not fill completely
  width: 101%;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: $color-1;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}
.is-unauthed .button:after {
  background-color: $color-2;
}
.button:hover:after {
  @media #{$break-small} {
    //No hover affect on phones
  }
  @media #{$break-medium} {
    // 101% to fix bug where button would not fill completely
    height: 101%;
    opacity: 1;
  }
}
.button--submit {
  color: $color-2;
  background-color: $color-1;
  border: none;
  @media #{$break-small} {
    bottom: 0;
    left: 0;
  }
  @media #{$break-medium} {
    position: relative;
    //width: inherit;
  }
}
.button--submit:hover {
  background-color: $color-1;
  color: $color-4;
}
.button--submit:after {
  display: none;
}

// (Button) Half-height
.button--half {
  height: 48vh;
}

// (Button) Cancel
.button--cancel {
  @media #{$break-small} {
    margin-top: 1em;
    margin-right: 0;
  }
  @media #{$break-medium} {
    margin-right: 1em;
    margin-top: 0;
  }
}

// (Button) Icon
.button__icon {
  position: relative;
  font-size: 3em;
  top: 50%;
  transform: translateY(-50%);
}
.button__icon:hover .hover-text {
  opacity: 1;
}
.button__icon i {
  font-size: 2em;
  margin-bottom: .2em;
}

// (Button) Overlay
.button--overlay {
  color: $color-2;
  background-color: $color-1;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
  z-index: 0;
}
.button--overlay:hover,
.button--overlay:focus,
.button--overlay.is-active {
  color: $color-1;
  background-color: $color-2;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.5);
  outline: none;
  z-index: 1
}
.button--overlay:after {
  display: none;
}

.row .button--vert + .button--vert {
  @media #{$break-small} {
    border-top-width: 0;
  }
  @media #{$break-medium} {
    border-top-width: .2em;
  }
}

.button--hor + .button--hor {
  @media #{$break-small} {
    border-left-width: 0;
  }
  @media #{$break-medium} {
    border-left-width: .2em;
  }
}


/* -------------------- */
/* --- #BUTTON GROUP */
/* -------------------- */
.buttons--full .button {
  @media #{$break-small} {
    border-width: 0;
  }
  @media #{$break-medium} {
    border-width: .2em;
  }
}
.buttons--full .button + .button {
  @media #{$break-small} {
    border-top-width: .2em;
  }
  @media #{$break-medium} {
    border-width: .2em;
  }
}


/* -------------------- */
/* --- #DIVIDER */
/* -------------------- */
.divider {
  width: 100%;
  position: relative;
  display: block;
  margin: 3em 0;
}
.divider__bar {
  border-bottom: 1px solid rgb(230,230,230);
}
.divider__bar--left {
  display: inline-block;
  width: 45%;
}
.divider__bar--right {
  display: inline-block;
  width: 45%;
}
.divider__text {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 8%;
  font-size: 3em;
  top: .3em;
}


/* -------------------- */
/* --- #FORM */
/* -------------------- */
form {
  color: $color-1;
}
.form__div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.form__div + .form__div {
  margin-top: 1em;
}
.form__thumbnail {

}
.form .button {
  //width: 100%;
}
label {
  display: block;
}
label.is-hidden {
  visibility: hidden;
}


/* -------------------- */
/* --- #GRID */
/* -------------------- */
.grid {
  //display: block;

  // Potential flexbox solution (height problems)
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  //height: 124em;
}
.grid__item {
  display: block;
  position: relative;

  box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
  background: $color-1;
  color: $color-2;

  @media #{$break-small} {
    width: 48%;
    //noinspection CssInvalidPropertyValue
    margin: calc(4% / 4)
  }
  @media #{$break-medium} {
    width: 32%;
    //noinspection CssInvalidPropertyValue
    margin: calc(4% / 6);
  }
  @media #{$break-large} {
    width: 24%;
    //noinspection CssInvalidPropertyValue
    margin: calc(4% / 8);
  }
}

.grid__item a {
  color: inherit;
}
.grid__image {

  height: auto;
  //max-width: 100%;
  // transform fixes chrome rendering issue
  -webkit-transform: translateZ(0);
  cursor: pointer;
}
.grid__container {
  padding: 1em;
}


/* -------------------- */
/* --- #HEADER */
/* -------------------- */
.header {
  position: fixed;
  width: 100%;
  background-color: $color-3;
  text-align: center;
  padding: .5em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
  color: $color-2;
  z-index: 3;
}
.header.is-unauthed {
  box-shadow: none;
}
.header-spacer {
  visibility: hidden;
  display: block;
}
.header-spacer .header {
  position: relative;
}


/* -------------------- */
/* --- #HOVER TEXT */
/* -------------------- */
.hover-text {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: -2em;
  width: 100%;
  text-align: center;
  color: $color-1;
  transition: opacity .2s ease;
  font-size: .8em;
}


/* -------------------- */
/* --- #INPUT GROUP */
/* -------------------- */
.input-group {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: $color-1;
}
.input-group + .input-group {
  @media #{$break-small} {
    margin-top: 1.5em;
  }
  @media #{$break-medium} {
    margin-top: 2em;
  }
}
.input-group:last-of-type {
  margin-bottom: 3em;
}
label.input-group__label {
  visibility: visible;
  color: inherit;
}
input:not([type=radio], [type=checkbox]),
.input-addon {
  display: block;
  position: relative;
  border: none;
  color: inherit;
  background-color: transparent;
  width: 100%;
  border-bottom: .2em solid currentColor;
  @media #{$break-small} {
    border-top: .2em solid currentColor;
    border-left: .2em solid currentColor;
    border-right: .2em solid currentColor;

    padding: 1em;
  }
  @media #{$break-medium} {
    border-top: none;
    border-left: none;
    border-right: none;

    padding: .5em;
  }
}
input:focus,
.input-addon:focus {
  outline: none;
  @media #{$break-small} {
    border-color: $color-3;
  }
  @media #{$break-medium} {
    border-color: currentColor;
  }
}
/* input bar */
.input-group__bar {
  position: relative;
  display: block;
  width: 100%;
}
.input-group__bar:before,
.input-group__bar:after {
  content: '';
  height: .2em;
  width: 0;
  bottom: 0;
  position: absolute;
  background: $color-3;
  transition: .2s ease all;
}
.input-group__bar:before {
  left: 50%;
}
.input-group__bar:after {
  right: 50%;
}
input:focus ~ .input-group__bar:before,
input:focus ~ .input-group__bar:after {
  @media #{$break-medium} {
    width: 50%;
  }
}

// input prefix (same style as input)
.input-addon input:last-of-type {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
}
.input-addon .input-group__bar {
  position: absolute;
  margin-bottom: -.2em;
  bottom: 0;
  left: 0;
}
.input-prefix input[type=number] {
  width: 5em;
}
.input-suffix input[type=number] {
  width: 2em;
}


.input-group__addon {
  position: absolute;
  opacity: 0;
  color: inherit;
  top: 50%;
  left: 8px;
  transition: .2s ease all;
}
.input-group__input:focus ~ .input-group__addon,
.input-group__input:valid ~ .input-group__addon {
  opacity: 1;
}
.input-group--block {
  display: block;
  width: 100%;
}
// File input
.input-group__file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-group__file-label {

}
/* SELECT */
.input-group--select {
  position: relative;
}
select {
  background-color: transparent;
  border-bottom: .2em solid currentColor;
  border-radius: 0;
  font-size: 1em;
  color: inherit;
  padding: .5em;
  width: 100%;
  margin: 0 auto;
  -webkit-appearance: inherit;
  text-transform: capitalize;
  @media #{$break-small} {
    border-top: .2em solid currentColor;
    border-left: .2em solid currentColor;
    border-right: .2em solid currentColor;

    padding: 1em;
  }
  @media #{$break-medium} {
    border-top: none;
    border-left: none;
    border-right: none;

    padding: .5em;
  }
}
.input-group--select:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  background-color: transparent;
  font-size: 1em;
  line-height: inherit;
  pointer-events: none;
  @media #{$break-small} {
    right: 2em;
  }
  @media #{$break-medium} {
    right: 1em;
  }
}

/* #RADIO */
input[type=radio] {
  margin-top: 1.5em;
  margin-bottom: 1.8em;
  margin-right: .5em;
}
input[type=radio] + input[type=radio] {
  margin-left: 1em;
}

.login-button,
.logout-button {
  cursor: pointer;
}
.sub-nav .active {
  background-color: rgb(230,230,230);
}
.form-inline * + .form-group {
  margin-left: 1em;
}
.featured__item {
  width: calc((100% - 10em) / 5);
  display: inline-block;
  border: 1px solid #f0f0f0;
  border-radius: 1em;
  margin: 1em;
}
.featured__image {
  width: 100%;
  border-radius: 1em;
}


/* -------------------- */
/* --- #INPUT SUBMIT */
/* -------------------- */
.submit-button {
  width: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/*.submit-button:before {*/
/*content: '>';*/
/*color: rgb(255,255,255);*/
/*left: -100%;*/
/*position: absolute;*/
/*height: 100%;*/
/*width: 100%;*/
/*font-size: 2.5em;*/
/*line-height: 2.5;*/
/*z-index: 1;*/
/*-webkit-transition: all 0.3s;*/
/*-moz-transition: all 0.3s;*/
/*transition: all 0.3s;*/
/*}*/
/*.submit-button:hover:before {*/
/*left: 50%;*/
/*}*/
/*.submit-button span {*/
/*text-align: center;*/
/*display: inline-block;*/
/*width: 100%;*/
/*-webkit-transition: all 0.2s;*/
/*-webkit-backface-visibility: hidden;*/
/*-moz-transition: all 0.2s;*/
/*-moz-backface-visibility: hidden;*/
/*transition: all 0.3s;*/
/*backface-visibility: hidden;*/
/*position: absolute;*/
/*top: 50%;*/
/*-webkit-transform: translateY(-50%);*/
/*-moz-transform: translateY(-50%);*/
/*-ms-transform: translateY(-50%);*/
/*transform: translateY(-50%);*/
/*color: rgb(255,255,255);*/
/*font-size: 1.5em;*/
/*}*/
/*.submit-button:hover span {*/
/*-webkit-transform: translateX(200%);*/
/*-moz-transform: translateX(200%);*/
/*-ms-transform: translateX(200%);*/
/*transform: translateX(200%);*/
/*color: rgb(255,255,255);*/
/*}*/


/* -------------------- */
/* --- #LOGO */
/* -------------------- */
.logo {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  color: $color-2;
  display: inline-block;
  cursor: default;
  border-bottom: none;
}
.logo:hover,
.logo:focus {
  color: $color-1;
}
.logo__header {
  margin: 0;
  font-size: inherit;
}
.logo__image {
  width: 2.5em;
}
.is-unauthed .logo__image {
  width: 30vw;
}
.logo__back {
  position: absolute;
  top: 0;
  left: .1em;
  color: $color-2;
  transition: .2s ease all;
  width: 1em;
}
.logo__back:hover {
  color: $color-1;
  text-decoration: none;
  left: 0;
}
.logo--small {
  cursor: pointer;
  font-size: 3em;
}
.logo--small .logo__header {
  margin: 0 auto;
  font-size: .5em;
  font-weight: 100;
}
.logo--small .logo__subheader {
  display: none;
}


/* -------------------- */
/* --- #MENU */
/* -------------------- */
.menu {
  position: fixed;
  display: block;
  top: 100vh;
  left: 0;
  width: 105%;
  background-color: $color-3;
  transform: translateY(-100%);
}
.menu__button {
  display: inline-block;
  border: none;
  color: $color-4;
}
.menu__button.is-active {
  color: $color-2;
  box-shadow: 0 1px 8px 1px rgba(0,0,0,.5);
}
.menu__button:after {
  display: none;
}
.menu__button:active {
  background-color: $color-3;
}
.row .menu__button + .menu__button {
  margin-top: 0;
}


/* -------------------- */
/* --- #MESSAGES */
/* -------------------- */
.success-message {
  color: rgb(50,180,50);
}

/* -------------------- */
/* --- #MODAL */
/* -------------------- */
.modal__sub-menu .button {
  font-size: .8em;
}


/* -------------------- */
/* --- #RADIO SLIDER */
/* -------------------- */
.radio-slider {
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 5em auto 0;
  border-radius: .3em;
  position: relative;
  width: 50em;
  height: .5em;
  background-color: rgb(80,80,80);
  box-shadow: inset 0 1px 8px 1px rgb(125,125,125);
  box-shadow: inset 0 1px 8px 1px rgba(0,0,0,.5);
  display: block;
}
.radio-slider input {
  width: 30px;
  height: 2em;
  margin: 0 calc((80px - 30px) / 2);
  -webkit-appearance: inherit;
  position: relative;
}
.radio-slider input:checked {
  width: 30px;
  height: 2em;
  margin: 0 25px;
  top: -.75em;
  border-radius: .3em;
  background-color: rgb(200,200,200);
  box-shadow: 0 1px 5px 1px rgb(125,125,125);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
  outline: none;
}
.radio-slider__labels {
  position: absolute;
  top: -2em;
}
.radio-slider label {
  font-size: .8em;
  font-weight: normal;
  cursor: pointer;
  text-align: center;
  width: 80px;
}
.radio-slider__bar {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  border-radius: 50px;
  transition: all .2s ease;
}


/* -------------------- */
/* --- #TRANSITION BLOCK */
/* -------------------- */
.transition-block {
  width: 100vw;
  height: 100vh;
  background-color: rgb(245,250,245);
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -150vh;
  transition: left .8s ease-in;
}

.transition-block--active {
  left: 0;
}


/* -------------------- */
/* --- #THUMBNAIL */
/* -------------------- */
.thumbnail {
  width: 5em;
  height: 5em;
}




.edit-button {
  display: none;
  margin: 0 1em;
}
.cancel-button {
  cursor: pointer;
  margin: 0 1em;
}
.temp-hide {
  display: none;
}
.pointer {
  cursor: pointer;
}
.gift__edit {
  position: absolute;
  right: 5px;
  top: 5px;
}
.arrow-down {
  display: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  margin-left: 0.5em;
}
.arrow-up {
  display: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  margin-left: 0.5em;
}
.viewport {
  clear: both;
}
.popup {
  /*display: none;*/
  position: fixed;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  //padding: 3em;
  color: $color-1;
}
.popup.is-page {
  position: relative;
  width: 100%;
  color: $color-1;
  z-index: 1;
}
.popup__container {
  position: relative;
  width: 50%;
  left: 0;
  right: 0;
  background-color: transparent;
  margin: 0 auto;
}
.popup__container.is-page {
  background-color: transparent;
  width: 100%;
}
* + .popup__container {
  margin-top: 4.9em;
}
.popup__image-container {
  background-color: $color-5;
}
.popup__image {
  max-width: 100%;
  //max-height: 70vh;
  margin: 1em auto 3em;
  display: block;
  position: relative;
}
.popup__content-container,
.popup__comments-container {
  padding: 3em;
  background-color: $color-5;
}
.comments-container {
  padding-top: 0;
}
.popup__shade {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.popup__close {
  position: fixed;
  right: 1em;
  top: 2em;
  font-size: 3em;
  color: #e6e6e6;
  z-index: 5;
  cursor: pointer;
}
.popup__close:hover {
  color: $color-3;
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 20em;
  height: 5em;
  position: fixed;
  right: 5em;
  z-index: 5;
}

.gifts {
  margin-top: 3em;
}

.gift {
  position: relative;
}

.gift.animate {
  transition: all 300ms 0ms ease-in;
}

.comments-container {
  padding: 3em 0;
}
.comment {
  display: block;
  padding: 1em;
}
.comment:nth-child(even) {
  background-color: $color-2;
}
.comment__author {
  font-weight: bold;
}
.comment__submitted {
  color: rgb(150,150,150);
  font-weight: normal;
}
.comment__image {
  width: 3em;
  height: 3em;
  margin-right: .5em;
}



/* ------------------------------ */
/* ------------- #PAGES */
/* ------------------------------ */

/* -------------------- */
/* --- #CHARACTER PAGE */
/* -------------------- */

.char__stat-key {
  text-transform: capitalize;
}


/* -------------------- */
/* --- #COMPANION */
/* -------------------- */
.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.character__image {
  margin: 0 1em 1em;
  width: 5em;
  height: 5em;
  border-radius: 100%;
}


/* -------------------- */
/* --- #HOME */
/* -------------------- */
.home .button {
  @media #{$break-small} {
    font-size: 3em;
  }
  @media #{$break-medium} {
    height: 40vh;
    font-size: 1.5em;
  }
}


/* -------------------- */
/* --- #LOGIN */
/* -------------------- */

.login__facebook-icon {
  background-color: rgb(59,89,152); // Facebook blue
}
.login__twitch-icon {
  background-color: rgb(100,65,165); // Twitch purple
}
.login__icon i {
  color: rgb(250,250,250);
}


/* -------------------- */
/* --- #STATS */
/* -------------------- */
.stats__chars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.stats__char {
  cursor: pointer;
}
.stats__char img {
  margin: 0 1em 1em;
  width: 10em;
  height: 10em;
  border-radius: 100%;
}


/* -------------------- */
/* --- #TRACK */
/* -------------------- */
.track__chars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 8em;
}
.track__char {
  cursor: pointer;
}
.track__char img {
  margin: 0 1em 1em;
  width: 10em;
  height: 10em;
  border-radius: 100%;
}
.youtube-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
.youtube-player {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


/* -------------------- */
/* --- #WATCH */
/* -------------------- */
.watch__container {
  margin-bottom: 10em;
}
.watch__char {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  cursor: pointer;
}
.watch__char-name {
  color: $color-3;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}


/* ------------------------------ */
/* ------------- #HELPERS */
/* ------------------------------ */
.capitalize {
  text-transform: capitalize !important;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}