<template name="charPage">
    <h1>
        {{name}}
        <small>
            {{#if isAdmin}}
                (<a href="{{pathFor 'charEdit'}}">Edit</a>)
            {{/if}}
        </small>
    </h1>


    <div class="char__stats row">
        <div class="col-xs-12 col-md-6">
            <h2>Character Sheet</h2>

            <div class="row">
                {{#each arrayify charStats}}
                    <div class="char__stat col-xs-6"><span class="char__stat-key">{{key}}:</span> {{value}}</div>
                {{/each}}
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <h2>Character Vitals</h2>

            <div class="char__stat col-xs-6"><span class="char__stat-key">HP:</span> {{vitals.hp}}</div>
            <div class="char__stat col-xs-6"><span class="char__stat-key">AC:</span> {{vitals.ac}}</div>
            <div class="char__stat col-xs-12">
                <span class="char__stat-key">Death Strikes: </span>
                {{#each loopCount vitals.strikes}}
                    <i class="fa fa-thumbs-down color-3"></i>
                {{/each}}
                {{#each loopCount nonStrikes}}
                    <i class="fa fa-thumbs-up"></i>
                {{/each}}
            </div>
            <div class="char__stat col-xs-6">
                <span class="char__stat-key">Attacks: </span>
                {{#each attacks}}
                    <div class="col-xs-12">{{name}}</div>
                {{/each}}
            </div>
            <div class="char__stat col-xs-6">
                <span class="char__stat-key">Spells: </span>
                {{#each spells}}
                    <div class="col-xs-12">{{name}}</div>
                {{/each}}
            </div>
            <div class="char__stat col-xs-12">
                <span class="char__stat-key">Items: </span>
                {{#each items}}
                    <div class="col-xs-6">{{name}}</div>
                {{/each}}
            </div>
        </div>
    </div>

</template>