<template name="watch">
    <div class="page">
        <div class="youtube-container {{videoClass}}">
            <div id="js-yt" class="youtube-player" data-hook="youtube-player"></div>
        </div>



        {{#unless watching}}
            <h1>I want to...</h1>

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <a class="button col-xs-12 col-md-5" data-hook="watch">Watch</a>
                        <a class="button col-xs-12 col-md-5 col-md-offset-2" href="{{pathFor 'track'}}">Track</a>
                    </div>
                </div>
            </div>
        {{else}}
            {{#if choosing}}
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="row">
                            <a class="button col-xs-12 col-md-5" data-hook="watch-here">Watch Here</a>
                            <a class="button col-xs-12 col-md-5 col-md-offset-2" data-hook="watch-else">Watch
                                Elsewhere</a>
                        </div>
                    </div>
                </div>
            {{else}}
                {{#unless selectedEp}}
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                            <label for="episode">Which episode?</label>
                            <select id="episode" name="episode">
                                <option>Choose...</option>
                                {{#each episodes}}
                                    <option value="{{number}}">Episode {{number}}: {{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                {{else}}
                    <div class="watch__container">
                        {{#if contentActive}}
                            <h2>Content</h2>

                            <div class="watch__content row">
                                {{#if contentTypeIs 'text'}}
                                    <h1>{{epContent.text}}</h1>
                                {{/if}}
                                {{#if contentTypeIs 'link'}}
                                    <h1>
                                        <a class="live-link" href="{{epContent.link}}"
                                           target="_blank">{{epContent.text}}</a>
                                    </h1>
                                {{/if}}
                                {{#if contentTypeIs 'tweet'}}
                                    <blockquote class="twitter-tweet" lang="en">
                                        <p lang="en" dir="ltr">
                                            {{epContent.text}}
                                        </p>&mdash; {{epContent.from}} <a href="{{epContent.link}}"></a>
                                    </blockquote>
                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                {{/if}}
                                {{#if contentTypeIs 'yt'}}
                                    <iframe width="560" height="315"
                                            src="https://www.youtube.com/embed/{{epContent.link}}" frameborder="0"
                                            allowfullscreen></iframe>
                                {{/if}}
                                {{#if contentTypeIs 'image'}}
                                    <img class="col-xs-12" src="{{epContent.link}}"/>
                                {{/if}}
                            </div>
                        {{/if}}
                        {{#if infoActive}}
                            <h2>Info</h2>

                            <div class="watch__info">
                                {{#unless detailActive}}
                                    {{#each characters}}
                                        <img src="{{imageURL}}" data-hook="detail-button" data-name="{{name}}">
                                    {{/each}}
                                {{/unless}}
                            </div>
                            {{#if detailActive}}
                                <div class="char__detail">
                                        {{#with character}}
                                            {{> charPage}}
                                        {{/with}}
                                </div>
                                <div class="row">
                                    {{#each characters}}
                                        <div class="col-xs-3 {{detailClass name}}">{{name}}</div>
                                    {{/each}}
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="menu row">
                        <a class="button menu__button col-xs-6 {{menuActive 'content'}}" data-hook="content-button">Content</a>
                        <a class="button menu__button col-xs-6 {{menuActive 'info'}}" data-hook="info-button">Info</a>
                    </div>
                {{/unless}}
            {{/if}}
        {{/unless}}
    </div>
</template>