<template name="watchEp">
    <div class="row">
        <div class="youtube-container col-xs-12 {{videoClass}}">
            <div id="js-yt" class="youtube-player" data-hook="youtube-player"></div>
        </div>
    </div>

    {{#unless watchHere}}
        <div class="row">
                {{> timer}}
        </div>
    {{/unless}}

    <div class="watch__container">
        {{#if contentActive}}
            <h2>Content</h2>

            <div class="watch__content row">
                {{#unless epContent}}
                    No episode content right now
                {{/unless}}
                {{#if contentTypeIs 'text'}}
                    <h1>{{epContent.text}}</h1>
                {{/if}}
                {{#if contentTypeIs 'link'}}
                    <h1>
                        <a class="live-link" href="{{epContent.link}}"
                           target="_blank">{{epContent.text}}</a>
                    </h1>
                {{/if}}
                {{#if contentTypeIs 'tweet'}}
                    <blockquote class="twitter-tweet" lang="en">
                        <p lang="en" dir="ltr">
                            {{epContent.text}}
                        </p>&mdash; {{epContent.from}} <a href="{{epContent.link}}"></a>
                    </blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                {{/if}}
                {{#if contentTypeIs 'yt'}}
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/{{epContent.link}}" frameborder="0"
                            allowfullscreen></iframe>
                {{/if}}
                {{#if contentTypeIs 'image'}}
                    <img class="col-xs-12" src="{{epContent.link}}"/>
                {{/if}}
            </div>
        {{/if}}
        {{#if infoActive}}
            <h2>Info</h2>

            <div class="watch__info row">
                {{#unless detailActive}}
                    {{#each characters}}
                        <div class="col-xs-3 watch__char-container">
                            <img src="{{imageURL}}" class="watch__char" data-hook="detail-button"
                                 data-name="{{name}}">
                        </div>
                    {{/each}}
                {{/unless}}
            </div>
            {{#if detailActive}}
                <div class="char__detail">
                        {{#with character}}
                            {{> charPage}}
                        {{/with}}
                </div>
                <div class="row">
                    {{#each characters}}
                        <a class="col-xs-3 watch__char-name {{detailClass name}}" data-hook="detail-button"
                           data-name="{{name}}">{{name}}</a>
                    {{/each}}
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div class="menu row">
        <a class="button menu__button col-xs-4 {{menuActive 'content'}}"
           data-hook="content-button">
            <i class="fa fa-eye"></i>

            <div class="hidden-xs hidden-sm">Content</div>
        </a>
        <a class="button menu__button col-xs-4 {{menuActive 'info'}}" data-hook="info-button">
            <i class="fa fa-users"></i>

            <div class="hidden-xs hidden-sm">Characters</div>
        </a>
        <a class="button menu__button col-xs-3 col-xs-offset-1 {{watchActive}}" data-hook="watch-button">
            <i class="fa fa-play"></i>

            <div class="hidden-xs hidden-sm">Watch</div>
        </a>
    </div>
</template>