<template name="watch">
    {{#if choosing}}
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="row buttons--full vert-margin">
                    <a class="button button--vert button--half col-xs-12 col-md-5" data-hook="watch">
                        <div class="button__icon">
                            <i class="fa fa-tv"></i><br>
                            Watch
                        </div>
                    </a>
                    {{#if authed}}
                        <a class="button button--vert button--half col-xs-12 col-md-5 col-md-offset-2"
                           href="{{pathFor 'track'}}">
                            <div class="button__icon">
                                <i class="fa fa-bar-chart"></i><br>
                                Track
                            </div>
                        </a>
                    {{else}}
                        <a class="button button--vert button--half col-xs-12 col-md-5 col-md-offset-2"
                           href="{{pathFor 'login'}}">
                            <div class="button__icon">
                                <i class="fa fa-user"></i><br>
                                Log in to track
                            </div>
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="row cards">
                        {{#each episodes}}
                            {{> episodeItem}}
                        {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
</template>