<template name="giftItem">
    <div class="grid__item gift" data-hook="gift">
        <a class="no-hover gift__image" href="{{pathFor 'giftPage'}}">
            <img class="grid__image" src="{{image}}" data-hook="image" />
            <!-- Want button has to be in this container to provide correct hover affect on image -->
            <p class="gift__want {{wantedClass}}" data-hook="want"><i class="icon-gift"></i> Want</p>
            <div class="gift__icons">
                <p class="gift__icon">
                    {{#if wants}}
                        <i class="icon-gift"></i> {{wants}}
                        <!--{{#if pluralWants}}-->
                            <!--<p>{{wants}} people want this gift</p>-->
                        <!--{{else}}-->
                            <!--<p>1 person wants this gift</p>-->
                        <!--{{/if}}-->
                    {{/if}}
                </p>
                <p class="gift__icon">
                    {{#if commentsCount}}
                        <i class="icon-comments"></i> {{commentsCount}}
                    {{/if}}
                </p>
            </div>
        </a>
        <div class="grid__container gift__info">
            <div class="gift__icons is-small">
                <p class="gift__icon">
                    {{#if wants}}
                        <i class="icon-gift"></i> {{wants}}
                            <!--{{#if pluralWants}}-->
                        <!--<p>{{wants}} people want this gift</p>-->
                            <!--{{else}}-->
                        <!--<p>1 person wants this gift</p>-->
                            <!--{{/if}}-->
                    {{/if}}
                </p>
                <p class="gift__icon">
                    {{#if commentsCount}}
                        <i class="icon-comments"></i> {{commentsCount}}
                    {{/if}}
                </p>
            </div>
            <p class="gift__description">{{description}}</p>
            <div class="gift__user">
                <a class="gift__user-name no-hover" href="user/{{userId}}">
                    <img class="gift__user-image" src="{{user.profile.image}}" /> {{user.profile.username}}
                </a>
            </div>
        </div>
        <p>
            {{#if ownGift}}<a href="{{pathFor 'giftEdit'}}">Edit</a>{{/if}}
        </p>
    </div>
    <div class="{{displayClass}}">
        <div class="popup__close" data-hook="close">X</div>
        <div class="popup__shade" data-hook="shade"></div>
        {{> giftPage}}
    </div>
</template>