<template name="giftPage">
    <div class="popup row {{popupClass}}">
        <div class="gift-page__buttons row {{popupClass}}">
            <div class="gift-page__button want-button button button--addon col-xs-4 col-xs-offset-2 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-4 {{wantedClass}}"
                 data-hook="want">
                <div class="button--addon__addon col-xs-6 col-sm-8"><i class="icon-gift"></i> <span class="hidden-xs">Want</span></div>
                <div class="want-button__count col-xs-6 col-sm-4">{{wants}}</div>
            </div>

            <a class="gift-page__button button col-xs-4 col-xs-offset-2 col-sm-2 col-md-1" href="{{fixedLink}}"
               target="_blank"><i class="icon-dollar"></i> Buy</a>
        </div>

        <div class="popup__container {{popupClass}}">
            <div class="popup__image-container {{popupClass}}">
                <a href="{{fixedLink}}" target="_blank">
                    <img class="popup__image" src="{{image}}"/>
                </a>
            </div>
            <div class="popup__content-container {{popupClass}}">
                <p class="gift-page__description">{{description}}</p>

                <div class="row">
                    <p class="col-xs-12 col-sm-6 col-md-3"><b>Price:</b> ${{price}}</p>

                    <p class="col-xs-12 col-sm-6 col-md-3"><b>Recipient:</b> {{recipient}}</p>

                    <p class="col-xs-12 col-sm-6 col-md-3"><b>Age:</b> {{age}}</p>

                    <p class="col-xs-12 col-sm-6 col-md-3"><b>Occasion:</b> {{occasion}}</p>
                </div>

                <a class="gift-page__author no-hover" href="/user/{{userId}}">
                    <img class="comment__image" src="{{user.profile.image}}"/>
                    <span class="comment__author">{{user.profile.username}}</span>
                    <span class="comment__submitted"> {{submittedMoment}}</span>
                </a>

            </div>
        </div>
        <div class="popup__container {{popupClass}}">
            <div class="popup__comments-container {{popupClass}}">
                {{#if currentUser}}
                    {{> commentSubmit}}
                {{else}}
                    <p>Please log in to leave a comment.</p>
                {{/if}}

                <ul class="comments-container {{popupClass}}">
                        {{#each comments}}
                            {{> commentItem}}
                        {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>