<template name="giveaway">
    <div class="page indent-container">
        <h1 class="text-center col-xs-12 col-md-6 col-md-offset-3">Stream Giveaway Information</h1>

        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
            <p>
                One of the hallmarks of the <a href="http://www.twitch.tv/geekandsundry">Geek and Sundry Twitch</a> channel is daily giveaways. Giveaways are based on reaching subscriber goals. After a set number of people have subscribed to the channel, a random person is selected from the chatroom to win a prize.
            </p>
            <p>
                For Critical Role, prizes usually fall in the category of sign merchandise, but prizes vary. To win, you only have to be active in the chatroom when the subscriber goal is reached. You DON'T have to be a subscriber yourself.
            </p>
            <p>
                Remember to keep an eye on the giveaway meter and, if you like Critical Role, consider subscribing to Geek and Sundry. Now get out there and win some stuff!
            </p>
        </div>
    </div>
</template>