<template name="home">
    <div class="home page">
        {{#unless authed}}

        {{else}}
            <div class="col-xs-12">
                <div class="row">
                    <h2 class="home__counter col-xs-12 text-center"><i class="fa fa-eye"></i> {{userCount}} Critters
                        Online</h2>

                    <h2 class="col-xs-12 text-center">You have {{user.profile.points}} Experience Points</h2>
                </div>
            </div>
        {{/unless}}

    </div>
</template>
