<template name="home">
    <div class="home">
        {{#if isLive}}
            <div class="row">
                <a href="http://twitch.tv/geekandsundry" class="button col-xs-12" target="_blank" data-hook="live">Watch
                    Live!</a>
            </div>
        {{/if}}
        <div class="row">
            <!--<a href="{{pathFor 'track'}}" class="button col-xs-12 col-md-4">Track</a>-->
            <a href="{{pathFor 'watch'}}" class="button col-xs-6 col-md-4">Watch</a>
            <a href="{{pathFor 'stats'}}" class="button col-xs-6 col-md-4">Stats</a>
            {{#if authed}}
                <a href="{{pathFor 'me'}}" class="button col-xs-12 col-md-4">Me</a>
            {{/if}}
        </div>
        {{#unless authed}}
            <div class="row">
                <a href="{{pathFor 'login'}}" class="button button--submit col-xs-12 col-md-6 col-md-offset-3">Log
                    In</a>
            </div>
        {{/unless}}
    </div>
</template>