<template name="watchLive">
    {{#unless pageIs 'characters'}}
        <h1 class="companion__header col-xs-12 text-center hidden-xs hidden-sm">Watch Live</h1>

        <h2 class="col-xs-12 text-center hidden-xs hidden-sm">Episode {{stream.epNumber}}</h2>

        <h2 class="companion__header col-xs-12 text-center visible-xs visible-sm">Watch Live —
            Episode {{stream.epNumber}}</h2>


        <div class="row">
            <h4 class="col-xs-12 text-center"><i class="fa fa-eye"></i> {{userCount}} Critters Wgatching</h4>
            <h2 class="companion__counter col-xs-12 text-center"><b>{{durationText}}:</b> {{duration}}</h2>
        </div>
    {{/unless}}

    {{#if stream.live}}

        {{#if pageIs 'content'}}
            <div class="companion__content row">
                {{#if hasContent}}

                    <div class="companion__text col-xs-10 col-xs-offset-1">{{stream.liveContent.text}}</div>

                    {{#if contentType 'link'}}
                        <div class="col-xs-10 col-xs-offset-1">
                            <a class="companion__text companion__link text-center" href="{{stream.liveContent.link}}"
                               target="_blank" data-track="content">{{stream.liveContent.message}}</a>
                        </div>
                    {{/if}}
                    {{#if contentType 'tweet'}}
                        <blockquote class="twitter-tweet" lang="en">
                            <p lang="en" dir="ltr">
                                {{stream.liveContent.message}}
                            </p>&mdash; {{stream.liveContent.tweeter}} <a href="{{stream.liveContent.link}}"></a>
                        </blockquote>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    {{/if}}
                    {{#if contentType 'yt'}}
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{stream.liveContent.link}}"
                                frameborder="0" allowfullscreen></iframe>
                    {{/if}}
                    {{#if contentType 'image'}}
                        {{#if hasLink}}
                            <a href="{{stream.liveContent.link}}" target="_blank" data-track="content"><img
                                    class="companion__image col-xs-12 col-md-8 col-md-offset-2"
                                    src="{{stream.liveContent.message}}"/></a>
                        {{else}}
                            <img class="companion__image col-xs-12 col-md-8 col-md-offset-2"
                                 src="{{stream.liveContent.message}}"/>
                        {{/if}}
                    {{/if}}
                    {{#if contentType 'poll'}}
                        <div class="companion__text col-xs-10 col-xs-offset-1">{{stream.liveContent.message}}</div>
                        {{#unless isResponder}}
                            <form class="col-xs-10 col-xs-offset-1">
                                {{#each stream.liveContent.choices}}
                                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                                        <input type="radio" name="choice" value="{{text}}"
                                               data-hook="choice"><span>{{text}}</span>
                                    </div>
                                {{/each}}
                                <button class="button button--submit col-xs-12 col-md-6 col-md-offset-3" type="submit"
                                        data-hook="poll-submit">Answer
                                </button>
                            </form>
                        {{else}}
                            <div class="poll__results col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                                <div class="row">
                                    {{#each results}}
                                        <div class="poll__result col-xs-12">
                                            <span>{{text}}: {{percentage}}%</span>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/unless}}
                    {{/if}}
                {{else}}
                    <div class="companion__content-placeholder col-xs-12 col-md-6 col-md-offset-3 text-center">
                        Content will appear here
                    </div>
                {{/if}}
            </div>
        {{else}}
            {{#if pageIs 'characters'}}
                <div class="companion__info row">
                    {{#unless detailActive}}
                        <div class="col-xs-12">
                            <div class="row">
                                {{#each liveChars}}
                                    <div class="track__char col-xs-6 col-sm-4">
                                        <div class="row">
                                            <div class="track__name-container col-xs-12" data-hook="detail-button"
                                                 data-name="{{name}}">
                                                <div class="track__name" data-name="{{name}}">{{name}}</div>
                                            </div>
                                            <img class="pointer col-xs-12" src="{{imageURL}}"
                                                 data-hook="detail-button"
                                                 data-name={{name}}>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{else}}
                        <div class="char__detail col-xs-12">
                            <div class="row">
                                {{#each liveChars}}
                                    <button class="col-xs-4 watch__char-name {{detailClass name}}"
                                            data-hook="detail-button"
                                            data-name="{{name}}">{{name}}</button>
                                {{/each}}
                            </div>
                            {{#with character}}
                                {{> charPage}}
                            {{/with}}
                        </div>

                    {{/unless}}
                </div>
            {{else}}
                {{#if pageIs 'giveaway'}}
                    <div class="companion__giveaway row">
                        <div class="giveaway__meter col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3"
                             data-hook="bar-parent">

                            <svg class="giveaway__meter-bar giveaway__meter-back hidden-xs hidden-sm" width="250"
                                 height="250"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <circle r="100" cy="126" cx="126" stroke-width="20" stroke="#E73023" fill="none"/>
                                </g>
                            </svg>
                            <svg class="giveaway__meter-bar giveaway__meter-bar--small giveaway__meter-back visible-xs visible-sm"
                                 width="250"
                                 height="250"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <circle r="100" cy="126" cx="126" stroke-width="20" stroke="#E73023" fill="none"/>
                                </g>
                            </svg>

                            <div class="giveaway__percent">{{subPercent}}%</div>

                            <svg class="giveaway__meter-bar giveaway__meter-front hidden-xs hidden-sm" width="250"
                                 height="250"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <circle class="circle_animation" r="100" cy="126" cx="126" stroke-width="20"
                                            stroke="#E6A22D" fill="none" style="stroke-dashoffset: {{meterOffset}}"
                                            data-hook="giveaway-circle"/>
                                </g>
                            </svg>
                            <svg class="giveaway__meter-bar giveaway__meter-bar--small giveaway__meter-front visible-xs visible-sm"
                                 width="250"
                                 height="250"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <circle class="circle_animation" r="100" cy="126" cx="126" stroke-width="20"
                                            stroke="#E6A22D" fill="none" style="stroke-dashoffset: {{meterOffset}}"
                                            data-hook="giveaway-circle"/>
                                </g>
                            </svg>

                        </div>
                        <div class="giveaway__info col-xs-12 col-md-6 col-md-offset-3 text-center">
                            <div class="giveaway__subs">Subscribers: {{stream.giveaway.subCount}}</div>
                            <div class="giveaway__sub-remaining">Subs Remaining: {{subsLeft}}</div>
                            <div class="giveaway__winner">Giveaway Winner: {{winner}}</div>
                            <a class="giveaway__link" href="{{pathFor 'giveaway'}}" target="_blank">How do I win?</a>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
        <div class="menu hidden-xs hidden-sm">
            <div class="row">
                <a class="button menu__button col-xs-4 {{menuActive 'content'}}" href="{{pathFor 'watchLivePage' page='content'}}"
                   data-hook="content-button">
                    <div class="menu__content">
                        <i class="fa fa-eye"></i>

                        <div>Content</div>
                        {{#if pageChanged 'content'}}
                            <i class="menu__notification fa fa-exclamation-circle"></i>
                        {{/if}}
                    </div>
                </a>
                <a class="button menu__button col-xs-4 {{menuActive 'info'}}" href="{{pathFor 'watchLivePage' page='characters'}}" data-hook="info-button">
                    <div class="menu__content">
                        <i class="fa fa-users"></i>

                        <div>Characters</div>
                        {{#if pageChanged 'characters'}}
                            <i class="menu__notification fa fa-exclamation-circle"></i>
                        {{/if}}
                    </div>
                </a>
                <a class="button menu__button col-xs-4 {{menuActive 'giveaway'}}" href="{{pathFor 'watchLivePage' page='giveaway'}}" data-hook="giveaway-button">
                    <div class="menu__content">
                        <i class="fa fa-trophy"></i>

                        <div>Giveaway</div>
                        {{#if pageChanged 'giveaway'}}
                            <i class="menu__notification fa fa-exclamation-circle"></i>
                        {{/if}}
                    </div>
                </a>
            </div>
        </div>
        {{#if showMenu}}
            <div class="menu visible-xs visible-sm">
                <div class="row">
                    <a class="button menu__button col-xs-3" data-hook="hide-button">
                        <div class="menu__content">
                            <i class="fa fa-angle-left"></i>

                            <div>Hide</div>
                        </div>
                    </a>
                    <a class="button menu__button col-xs-3 {{menuActive 'content'}}"
                       href="{{pathFor 'watchLivePage' page='content'}}" data-hook="content-button">
                        <div class="menu__content">
                            <i class="fa fa-eye"></i>

                            <div>Content</div>
                            {{#if pageChanged 'content'}}
                                <i class="menu__notification fa fa-exclamation-circle"></i>
                            {{/if}}
                        </div>
                    </a>
                    <a class="button menu__button col-xs-3 {{menuActive 'info'}}"
                       href="{{pathFor 'watchLivePage' page='characters'}}" data-hook="info-button">
                        <div class="menu__content">
                            <i class="fa fa-users"></i>

                            <div>Characters</div>
                            {{#if pageChanged 'characters'}}
                                <i class="menu__notification fa fa-exclamation-circle"></i>
                            {{/if}}
                        </div>
                    </a>
                    <a class="button menu__button col-xs-3 {{menuActive 'giveaway'}}"
                       href="{{pathFor 'watchLivePage' page='giveaway'}}" data-hook="giveaway-button">
                        <div class="menu__content">
                            <i class="fa fa-trophy"></i>

                            <div>Giveaway</div>
                            {{#if pageChanged 'giveaway'}}
                                <i class="menu__notification fa fa-exclamation-circle"></i>
                            {{/if}}
                        </div>
                    </a>
                </div>
            </div>
        {{else}}
            <div class="menu__hide-button row" data-hook="show-button">
                <div class="col-xs-12">
                    <div class="row">
                        <i class="fa fa-navicon col-xs-12"></i>

                        <div class="col-xs-12">Show Menu</div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{else}}

        <h2>Sorry, Critical Role isn't live right now. Come back on Thursday at 7pm PST!</h2>

    {{/if}}
</template>