<template name="header">
    <header class="header {{headerClass}} {{headerActive}} {{authedClass}}">
        <div class="menu menu--header row">
            <a class="button menu__button col-xs-3 {{menuActive 'home'}}" href="{{pathFor 'home'}}"
               data-hook="content-button">
                <div class="row">
                    <img class="logo__image col-xs-12" src="/images/logo.svg">
                    <div class="col-xs-12">Home</div>
                </div>
            </a>
            <a class="button menu__button col-xs-3 {{menuActive 'watch'}}" href="{{pathFor 'watch'}}"
               data-hook="content-button">
                <div class="row">
                    <i class="fa fa-tv col-xs-12"></i>
                    <div class="col-xs-12">Watch</div>
                </div>
            </a>
            <a class="button menu__button col-xs-3 {{menuActive 'stats'}}" href="{{pathFor 'stats'}}" data-hook="info-button">
                <div class="row">
                    <i class="fa fa-bar-chart-o col-xs-12"></i>
                    <div class="col-xs-12">Stats</div>
                </div>
            </a>
            <a class="button menu__button col-xs-3 {{menuActive 'me'}}" href="{{pathFor 'me'}}" data-hook="giveaway-button">
                <div class="row">
                    <i class="fa fa-user col-xs-12"></i>
                    <div class="col-xs-12">Me</div>
                </div>
            </a>
        </div>
        {{#if homeUnauthed}}
            <h1>Critter</h1>

            <h2>A new way to watch</h2>
        {{/if}}
        {{#if backLink}}
            <a class="header__back" href="{{backLink}}"><i class="fa fa-angle-left"></i></a>
        {{/if}}
    </header>
</template>