<template name="header">
    <header class="header {{headerActive}} {{authedClass}}">
        <div class="menu menu--header">
            <div class="row">
                {{#unless homeUnauthed}}
                    <a class="button menu__button col-xs-3 {{routeActive '/home'}}" href="{{pathFor 'home'}}"
                       data-track="header-click">
                        <div class="row">
                            <img class="logo__image col-xs-12" src="/images/logo.svg">
                        </div>
                    </a>
                    <a class="button menu__button col-xs-3 {{routeActive '/watch'}}" href="{{pathFor 'watch'}}"
                       data-track="header-click">
                        <div class="row">
                            <i class="fa fa-tv col-xs-12"></i>

                            <div class="col-xs-12">Watch</div>
                        </div>
                    </a>
                    <a class="button menu__button disabled col-xs-3 {{routeActive '/stats'}}" href="{{pathFor 'stats'}}"
                       data-hook="stats-button" data-track="header-click">
                        <div class="row">
                            <i class="fa fa-bar-chart-o col-xs-12"></i>

                            <div class="col-xs-12">Stats</div>
                        </div>
                    </a>
                    {{#if isAuthed}}
                        <a class="button menu__button col-xs-3 {{routeActive '/me'}}" href="{{pathFor 'me'}}"
                           data-track="header-click">
                            <div class="row">
                                <i class="fa fa-user col-xs-12"></i>

                                <div class="col-xs-12">Me</div>
                            </div>
                        </a>
                    {{else}}
                        <a class="button menu__button col-xs-3 {{routeActive '/login'}}" href="{{pathFor 'login'}}"
                           data-track="header-click">
                            <div class="row">
                                <i class="fa fa-user col-xs-12"></i>

                                <div class="col-xs-12">Login</div>
                            </div>
                        </a>
                    {{/if}}
                {{else}}
                    <div class="container">
                        <img class="header__logo bounce-in" src="/images/logo.svg" data-hook="close-login">
                        <div class="header__login" data-hook="login-container">
                            <button class="button" data-hook="login-button">Login/Register</button>
                            <h3 class="home__counter home__counter--unauthed text-center"><i class="fa fa-eye"></i> {{userCount}} Critters Online</h3>
                        </div>
                    </div>
                {{/unless}}
            </div>
        </div>
        {{#if backLink}}
            <a class="header__back" href="{{backLink}}"><i class="fa fa-angle-left"></i></a>
        {{/if}}
    </header>
</template>